<section id="fotosVideos" class="ptop-50 text-center">
    <div class="container">
      <h2 class="line">
          <span>Fotos e Vídeo</span>
      </h2>
    </div>
    <div id="grid-fv" class="row no-space mtop-15">
        <div class="col-sm-4">
            <div class="fv">
                <div class="bg-fv" style="background-image: url(../../assets/images/foto04.jpg)"></div>
                <div class="hover-fv">
                    <div class="box-hover">
                        <i class="material-icons">zoom_in</i>
                        <p>Ampliar</p>
                    </div>
                </div>
            </div>
            <div class="fv">
                <div class="bg-fv" style="background-image: url(../../assets/images/foto01.jpg)"></div>
                <div class="hover-fv">
                    <div class="box-hover">
                        <i class="material-icons">zoom_in</i>
                        <p>Ampliar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="fv size-g">
                <div class="bg-fv" style="background-image: url(../../assets/images/foto02.jpg)"></div>
                <div class="hover-fv">
                    <div class="box-hover">
                        <i class="material-icons">zoom_in</i>
                        <p>Ampliar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="fv">
                <div class="bg-fv" style="background-image: url(../../assets/images/foto01.jpg)"></div>
                <div class="hover-fv">
                    <div class="box-hover">
                        <i class="material-icons">zoom_in</i>
                        <p>Ampliar</p>
                    </div>
                </div>
            </div>
            <div class="fv">
                <div class="bg-fv" style="background-image: url(../../assets/images/foto04.jpg)"></div>
                <div class="hover-fv">
                    <div class="box-hover">
                        <i class="material-icons">zoom_in</i>
                        <p>Ampliar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="fv video mtop-15">
                <div class="bg-fv" style="background-image: url(../../assets/images/foto01.jpg)"></div>
                <div class="hover-fv">
                    <div class="box-hover">
                        <i class="material-icons">play_circle_outline</i>
                        <p>Assistir Vídeo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>