<section id="confirmarPresenca" class="ptop-50 mbottom-30">
  <div class="container text-center">
    <h3 class="line">
      <span>Confirmar Presença</span>
    </h3>
    <div class="row mtop-30">
      <div class="col-md-3 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="line-form">
          <input type="text" placeholder="Nome">
          <label>Nome</label>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <div class="line-form">
          <input type="text" placeholder="Sobrenome">
          <label>Sobrenome</label>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="line-form">
          <input type="email" placeholder="E-mail">
          <label>E-mail</label>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="line-form textarea">
            <textarea cols="30" rows="10"></textarea>
            <label>Mensagem</label>
          </div>
        </div>
      <div class="col-md-3 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="line-form select">
          <label>Nº Pessoas</label>
          <select name="" id="">
            <option value="">Nº de pessoas</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>          
        </div>

      </div>
      <div class="col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <button class="btn btn-warning btn-full">Confirmar Presença</button>
      </div>
    </div>
  </div>
</section>